api/.phpunit.result.cache
api/*.log
.vscode/

api/.env

api/public/debug_*.php

preview.png

api/writable/cache/*
api/writable/debugbar/*
api/writable/logs/*
api/writable/session/*
api/writable/uploads/*

!api/writable/**/.html
!api/writable/**/.gitkeep