# --------------------------------------------------------------------
# APPLICATION ENVIRONMENT SETTINGS (.env.example)
# Rename this file to .env and adjust the settings to your local setup
# --------------------------------------------------------------------

app.baseURL           = 'http://localhost:8080/adx-global-base/api/'
app.frontendURL       = 'http://localhost:8080/adx-global-base/frontend/'

email.protocol				= 'smtp'
email.SMTPHost				= 'smtp.host.com'
email.SMTPUser				= 'smatp_user'
email.SMTPPass				= 'your_smtp_password'
email.SMTPAuth				= true // Set to true if your SMTP server requires authentication
email.SMTPPort				= 587 // Set to 465 for SSL, 587 for TLS, or 25 for non-secure connections
email.SMTPCrypto			= 'tls'
email.fromEmail				= 'your_from_email'
email.fromName				= 'your_from_name'

CI_ENVIRONMENT        = development

# Active Database Engine (Options: SQLServer, MySQL, SQLite)
# Defines MySQL as the default or fallback engine for API requests
DB_ENGINE             = SQLite // Default database engine for API requests. Options: SQLServer, MySQL, SQLite

# --------------------------------------------------------------------
# DATABASE CONFIGURATIONS
# --------------------------------------------------------------------

# MySQL
MYSQL_DRIVER          = MySQLi
MYSQL_HOSTNAME        = localhost
MYSQL_DATABASE        = adx-global-base
MYSQL_USERNAME        = root
MYSQL_PASSWORD        = 
MYSQL_PCONNECT        = false
MYSQL_DBDEBUG         = true

# SQLite
SQLITE_DRIVER         = SQLite3
SQLITE_DATABASE       = writable/database/adx-global-base.sqlite
SQLITE_PCONNECT       = false
SQLITE_DBDEBUG        = true
SQLITE_FOREIGNKEYS    = true

# SQLServer
SQLSERVER_DRIVER      = SQLSRV
SQLSERVER_HOSTNAME    = localhost\SQLEXPRESS
SQLSERVER_DATABASE    = adx-global-base
SQLSERVER_USERNAME    = sa
SQLSERVER_PASSWORD    = YOUR_LOCAL_PASSWORD_HERE
SQLSERVER_CHARSET     = utf8

# --------------------------------------------------------------------
# SECURITY & AUTHENTICATION (JWT & MASTER KEY)
# --------------------------------------------------------------------

# Generate a secure key for production. Example string below:
JWT_SECRET            = 'YOUR_BASE64_JWT_SECRET_KEY_HERE'
JWT_EXPIRES_IN        = 86400
JWT_ISSUER            = 'adx-global-base'
JWT_AUDIENCE          = 'adx-global-base'

# Master key for deployment and user bootstrapping
SECRET_MASTER         = 'YOUR_SECRET_MASTER_KEY_HERE'